In [36]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_iris, load_wine, load_digits, load_breast_cancer, load_linnerud, load_diabetes
from sklearn.datasets import fetch_california_housing


from pca import apply_pca

In [45]:
data = fetch_california_housing(as_frame=True)

In [37]:
data = fetch_california_housing()
df = pd.DataFrame(data.data, columns=data.feature_names)
df['target'] = data.target
df['target'] = df['target'].apply(lambda x: 1 if x > 2.068 else 0)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [58]:
data = fetch_california_housing()
df = pd.DataFrame(data.data, columns=data.feature_names)
df[data.target_names[0]] = data.target
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [4]:
data = load_digits()

df = pd.DataFrame(data.data, columns=data.feature_names)
df['target'] = data.target

# verify if it is a binary classification problem
unique_classes = np.unique(df['target'])
if unique_classes.size > 2:
    # randomly select 2 classes
    selected_classes = np.random.choice(unique_classes, 2, replace=False)

    filtered_df = df[df['target'].isin(selected_classes)]

if df.shape[1] > 3: # 3 because of target
    # Extract data and labels from the filtered dataframe
    X_filtered = filtered_df.drop('target', axis=1).values
    y_filtered = filtered_df['target'].values

    # Apply PCA and visualize the result
    reduced_data = apply_pca(X_filtered, y_filtered, target_names=selected_classes)

ValueError: Expected a 1D array, got an array with shape (20, 3)

In [3]:
reduced_df = pd.DataFrame(reduced_data, columns=['x', 'y'])
reduced_df['target'] = y_filtered

X1 = reduced_df[reduced_df['target'] == selected_classes[0]][['x', 'y']]
X2 = reduced_df[reduced_df['target'] == selected_classes[1]][['x', 'y']]

In [6]:
reduced_df[['x', 'y']]

             x          y
0   -24.846153  -0.893582
1    30.663104  -0.593848
2   -17.334607  -1.158441
3    24.117035  26.742044
4   -19.653309   2.011222
..         ...        ...
355  23.238747  -9.993272
356  17.071883  -3.995761
357 -11.302492 -12.700389
358  17.694380  -4.986477
359 -23.252535  -1.142358

[360 rows x 2 columns]

In [83]:
df = pd.read_csv('data/mobile.csv')

print(df.shape)

df = df.rename(columns={'blue': 'target'})
df.head()

(1000, 21)

,id,battery_power,target,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,...,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,1,1043,1,1.8,1,14,0,5,0.1,193,...,16,226,1412,3476,12,7,2,0,1,0
1,2,841,1,0.5,1,4,1,61,0.8,191,...,12,746,857,3895,6,0,7,1,0,0
2,3,1807,1,2.8,0,1,0,27,0.9,186,...,4,1270,1366,2396,17,10,10,0,1,1
3,4,1546,0,0.5,1,18,1,25,0.5,96,...,20,295,1752,3893,10,0,7,1,1,0
4,5,1434,0,1.4,0,11,1,49,0.5,108,...,18,749,810,1773,15,8,7,1,0,1