In [1]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_iris, load_wine, load_digits, load_breast_cancer, load_linnerud, load_diabetes
from sklearn.datasets import fetch_california_housing


from pca import apply_pca

In [45]:
data = fetch_california_housing(as_frame=True)

In [37]:
data = fetch_california_housing()
df = pd.DataFrame(data.data, columns=data.feature_names)
df['target'] = data.target
df['target'] = df['target'].apply(lambda x: 1 if x > 2.068 else 0)
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [58]:
data = fetch_california_housing()
df = pd.DataFrame(data.data, columns=data.feature_names)
df[data.target_names[0]] = data.target
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [4]:
data = load_digits()

df = pd.DataFrame(data.data, columns=data.feature_names)
df['target'] = data.target

# verify if it is a binary classification problem
unique_classes = np.unique(df['target'])
if unique_classes.size > 2:
    # randomly select 2 classes
    selected_classes = np.random.choice(unique_classes, 2, replace=False)

    filtered_df = df[df['target'].isin(selected_classes)]

if df.shape[1] > 3: # 3 because of target
    # Extract data and labels from the filtered dataframe
    X_filtered = filtered_df.drop('target', axis=1).values
    y_filtered = filtered_df['target'].values

    # Apply PCA and visualize the result
    reduced_data = apply_pca(X_filtered, y_filtered, target_names=selected_classes)

ValueError: Expected a 1D array, got an array with shape (20, 3)

In [3]:
reduced_df = pd.DataFrame(reduced_data, columns=['x', 'y'])
reduced_df['target'] = y_filtered

X1 = reduced_df[reduced_df['target'] == selected_classes[0]][['x', 'y']]
X2 = reduced_df[reduced_df['target'] == selected_classes[1]][['x', 'y']]

In [6]:
reduced_df[['x', 'y']]

             x          y
0   -24.846153  -0.893582
1    30.663104  -0.593848
2   -17.334607  -1.158441
3    24.117035  26.742044
4   -19.653309   2.011222
..         ...        ...
355  23.238747  -9.993272
356  17.071883  -3.995761
357 -11.302492 -12.700389
358  17.694380  -4.986477
359 -23.252535  -1.142358

[360 rows x 2 columns]

In [24]:
df = pd.read_csv('data/diabetes.csv')
df = df.rename(columns={'diabetes': 'target'})
df['gender'] = df['gender'].apply(lambda x: 1 if x == 'Female' else 0)
# never = 0, No Info = 4, ever=6, former=8, not current=8, current = 10, 
df['smoking_history'] = df['smoking_history'].apply(lambda x: 0 if x == 'never' else 4 if x == 'No Info' else 5 if x == 'ever' else 8 if x == 'former' else 8 if x == 'not current' else 10)
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,target
0,1,80.0,0,1,0,25.19,6.6,140,0
1,1,54.0,0,0,4,27.32,6.6,80,0
2,0,28.0,0,0,0,27.32,5.7,158,0
3,1,36.0,0,0,10,23.45,5.0,155,0
4,0,76.0,1,1,10,20.14,4.8,155,0

In [32]:
df = pd.read_csv('data/pokemon.csv')
df = df.drop(['#', 'Name', 'Type 2', 'Generation', 'Legendary'], axis=1)
df = df.rename(columns={'Type 1': 'target'})
unique_classes = np.unique(df['target'])

type_to_number = {}
for type in unique_classes:
    type_to_number[type] = len(type_to_number)
type_to_number

df['target'] =  df['target'].apply(lambda x: type_to_number[x])
df.head()

   target  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0       9    318  45      49       49       65       65     45
1       9    405  60      62       63       80       80     60
2       9    525  80      82       83      100      100     80
3       9    625  80     100      123      122      120     80
4       6    309  39      52       43       60       50     65